.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  position: relative;
  border-radius: 10px;
  padding: 16px;
}
.img__jtDWc {
  object-fit: cover;
}
.img__jtDWc > picture > img {
  object-fit: cover;
}
.img__gdazp {
  object-fit: cover;
}
.img__gdazp > picture > img {
  object-fit: cover;
}
.link___8A10N {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__wPz8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__qcQS {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__yrbw2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.content17:global(.__wab_instance) {
  max-width: 100%;
  width: 1349px;
  position: absolute;
  left: 99px;
  top: -97px;
  height: 1058px;
  flex-shrink: 0;
}
.freeBox__mwQe5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px var(--token-K3pGQo3OM8XQ);
  overflow: hidden;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox__mwQe5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__mwQe5 > :global(.__wab_flex-container) > *,
.freeBox__mwQe5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mwQe5 > :global(.__wab_flex-container) > picture > img,
.freeBox__mwQe5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 367px;
  font-family: "Poppins", sans-serif;
  margin-right: 0px;
  padding-right: 378px;
  min-width: 0;
}
.text__fZ0Va {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  min-width: 0;
}
.text__jjC6 {
  white-space: pre;
  color: var(--token-80obH9lxZ8kN);
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  position: absolute;
  left: 0px;
  top: 0px;
}
.button___4H2Nm:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
  position: absolute;
  left: 917px;
  top: 20px;
  height: 51px;
  width: 158px;
  flex-shrink: 0;
}
.svg___9F0Y2 {
  position: relative;
  height: 1em;
}
.text__oSbrl {
  white-space: pre;
  font-family: "Poppins", sans-serif;
  color: var(--token-80obH9lxZ8kN);
}
.svg__j0GtX {
  position: relative;
  height: 1em;
}
.button___4Vlv:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
  position: absolute;
  left: 774px;
  top: 22px;
  height: 51px;
  width: 121px;
  flex-shrink: 0;
}
.svg__iEu6Z {
  position: relative;
  height: 1em;
}
.text__eadWa {
  white-space: pre;
  font-family: "Poppins", sans-serif;
  color: var(--token-80obH9lxZ8kN);
}
.svg__hb3HM {
  position: relative;
  height: 1em;
}
.freeBox__uRvL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__uRvL {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__hhTbi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  flex-direction: column;
  background: #ececec;
  min-width: 0;
  border-radius: 10px;
  margin: 10px;
}
.freeBox__hhTbi > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.freeBox__hhTbi > :global(.__wab_flex-container) > *,
.freeBox__hhTbi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hhTbi > :global(.__wab_flex-container) > picture > img,
.freeBox__hhTbi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
.img___5Xn6D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  left: auto;
  top: auto;
  margin-top: calc(5px + 3px) !important;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  flex-shrink: 0;
}
.img___5Xn6D > picture > img {
  object-fit: cover;
}
.h4__kmzNi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(15px + 3px) !important;
  left: auto;
  top: auto;
  font-family: "Poppins", sans-serif;
  min-width: 0;
  padding: 5px;
}
.button__qD0BS:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
  position: absolute;
  left: 79px;
  top: 299px;
}
.svg__lnOag {
  position: relative;
  height: 1em;
}
.text__jmMpw {
  white-space: pre;
  font-family: "Poppins", sans-serif;
  color: var(--token-CdI3Lgf4BVSB);
}
.svg__eh2GT {
  position: relative;
  height: 1em;
}
.text__iorH2 {
  position: relative;
  width: var(--token-qZRNgnUh5ePl);
  height: auto;
  max-width: 273px;
  margin-top: calc(25px + 3px) !important;
  left: auto;
  top: auto;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}
.button___1NslV:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
  margin-top: calc(10px + 3px) !important;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.svg__ntmuC {
  position: relative;
  height: 1em;
}
.text__mCtXu {
  white-space: pre;
  font-family: "Poppins", sans-serif;
  color: var(--token-80obH9lxZ8kN);
  padding-right: 0px;
}
.svg__wRsQp {
  position: relative;
  height: 1em;
}
.freeBox__uotEl {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  background: #ececec;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
  margin: 10px;
}
.freeBox__uotEl > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.freeBox__uotEl > :global(.__wab_flex-container) > *,
.freeBox__uotEl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uotEl > :global(.__wab_flex-container) > picture > img,
.freeBox__uotEl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
.img__glMub {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  left: auto;
  top: auto;
  margin-top: calc(5px + 3px) !important;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  flex-shrink: 0;
}
.img__glMub > picture > img {
  object-fit: cover;
}
.h4__npVU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(15px + 3px) !important;
  left: auto;
  top: auto;
  font-family: "Poppins", sans-serif;
  min-width: 0;
  padding: 5px;
}
.text__jwdNi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 273px;
  margin-top: calc(25px + 3px) !important;
  left: auto;
  top: auto;
  font-family: "Poppins", sans-serif;
  min-width: 0;
  padding: 5px;
}
.freeBox__vgAgj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  background: #ececec;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
  margin: 10px;
}
.freeBox__vgAgj > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.freeBox__vgAgj > :global(.__wab_flex-container) > *,
.freeBox__vgAgj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vgAgj > :global(.__wab_flex-container) > picture > img,
.freeBox__vgAgj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
.img__mD9U0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  left: auto;
  top: auto;
  margin-top: calc(5px + 3px) !important;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  flex-shrink: 0;
}
.img__mD9U0 > picture > img {
  object-fit: cover;
}
.h4__dbZmu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(15px + 3px) !important;
  left: auto;
  top: auto;
  font-family: "Poppins", sans-serif;
  min-width: 0;
  padding: 5px;
}
.text__hkb1E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 273px;
  margin-top: calc(25px + 3px) !important;
  left: auto;
  top: auto;
  font-family: "Poppins", sans-serif;
  min-width: 0;
  padding: 5px;
}
.freeBox__y9Prm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__y9Prm {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__nu6Ox {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  background: #ececec;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
  margin: 10px;
}
.freeBox__nu6Ox > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.freeBox__nu6Ox > :global(.__wab_flex-container) > *,
.freeBox__nu6Ox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nu6Ox > :global(.__wab_flex-container) > picture > img,
.freeBox__nu6Ox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
.img__qUqeF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  left: auto;
  top: auto;
  margin-top: calc(5px + 3px) !important;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  flex-shrink: 0;
}
.img__qUqeF > picture > img {
  object-fit: cover;
}
.h4__wO1Hh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(15px + 3px) !important;
  left: auto;
  top: auto;
  font-family: "Poppins", sans-serif;
  min-width: 0;
  padding: 5px;
}
.text__tR5Kp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 273px;
  margin-top: calc(25px + 3px) !important;
  left: auto;
  top: auto;
  font-family: "Poppins", sans-serif;
  min-width: 0;
  padding: 5px;
}
.freeBox___73KXy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  background: #ececec;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
  margin: 10px;
}
.freeBox___73KXy > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.freeBox___73KXy > :global(.__wab_flex-container) > *,
.freeBox___73KXy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___73KXy > :global(.__wab_flex-container) > picture > img,
.freeBox___73KXy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
.img__hYp7F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  left: auto;
  top: auto;
  margin-top: calc(5px + 3px) !important;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  flex-shrink: 0;
}
.img__hYp7F > picture > img {
  object-fit: cover;
}
.h4__mH9It {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(15px + 3px) !important;
  left: auto;
  top: auto;
  font-family: "Poppins", sans-serif;
  min-width: 0;
  padding: 5px;
}
.text__tDb0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 273px;
  margin-top: calc(25px + 3px) !important;
  left: auto;
  top: auto;
  font-family: "Poppins", sans-serif;
  min-width: 0;
  padding: 5px;
}
.freeBox__rYd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  background: #ececec;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
  margin: 10px;
}
.freeBox__rYd > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.freeBox__rYd > :global(.__wab_flex-container) > *,
.freeBox__rYd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rYd > :global(.__wab_flex-container) > picture > img,
.freeBox__rYd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
.img__aYwku {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  left: auto;
  top: auto;
  margin-top: calc(5px + 3px) !important;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  flex-shrink: 0;
}
.img__aYwku > picture > img {
  object-fit: cover;
}
.h4__v7Lrr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(15px + 3px) !important;
  left: auto;
  top: auto;
  font-family: "Poppins", sans-serif;
  min-width: 0;
  padding: 5px;
}
.text__ksntv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 273px;
  margin-top: calc(25px + 3px) !important;
  left: auto;
  top: auto;
  font-family: "Poppins", sans-serif;
  min-width: 0;
  padding: 5px;
}
.img___2NwC7 {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: 0px;
  top: 190px;
  position: absolute;
  height: 75px;
  flex-shrink: 0;
}
.img___2NwC7 > picture > img {
  object-fit: cover;
}
.img__m7HSr {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: 17px;
  top: 556px;
  position: absolute;
  height: 75px;
  flex-shrink: 0;
}
.img__m7HSr > picture > img {
  object-fit: cover;
}
.img__buv7N {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: 13px;
  top: 470px;
  position: absolute;
  height: 75px;
  flex-shrink: 0;
}
.img__buv7N > picture > img {
  object-fit: cover;
}
.img__l9UIf {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: 9px;
  top: 396px;
  position: absolute;
  height: 75px;
  flex-shrink: 0;
}
.img__l9UIf > picture > img {
  object-fit: cover;
}
.img__zDqXy {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: 12px;
  top: 330px;
  position: absolute;
  height: 75px;
  flex-shrink: 0;
}
.img__zDqXy > picture > img {
  object-fit: cover;
}
.img__dO0L {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: 1px;
  top: 257px;
  position: absolute;
  height: 75px;
  flex-shrink: 0;
}
.img__dO0L > picture > img {
  object-fit: cover;
}
.img__jCwXw {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: 16px;
  top: 91px;
  position: absolute;
  height: 89px;
  flex-shrink: 0;
}
.img__jCwXw > picture > img {
  object-fit: cover;
}
