.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-80obH9lxZ8kN);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-0rdUOaYCHzLn);
  font-family: var(--token-GUwUh9tWg7rK);
  font-size: var(--token-sYxHWTMD3Y-v);
  line-height: var(--token-zP-w4D_FyOem);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-7QVkCCMn6vK5);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-GwnLflziYPNH);
  outline-offset: 1px;
  outline-color: var(--token-80obH9lxZ8kN);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-aMBxWOnKH6rr);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-f6r5uVtwH2fc);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-eFrvHoCQ6-Rz);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-o9f1KEXvFuf0);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-NbCvVI4VJHNb);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-TwX3JgHW7Q2d);
  font-size: var(--token-tbEnCoHyrbpo);
  column-gap: var(--token-GwnLflziYPNH);
  row-gap: 0px;
  border-radius: var(--token-bk3e0v2BUPU-);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-tbEnCoHyrbpo);
  line-height: var(--token-TwX3JgHW7Q2d);
  column-gap: var(--token-bk3e0v2BUPU-);
  row-gap: 0px;
  border-radius: var(--token-bk3e0v2BUPU-);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-JxahnVRTXBzv);
  line-height: var(--token-Y77XjQbWXixS);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-JxahnVRTXBzv);
  line-height: var(--token-Y77XjQbWXixS);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-IAX18n8jWnfj);
  border-radius: var(--token-7QVkCCMn6vK5);
}
.softBackgroundcolor_neutral {
  background: var(--token-BpxoftzvP3GZ);
}
.softBackgroundcolor_muted {
  background: var(--token-ysb_35J20sc-);
}
.softBackgroundcolor_success {
  background: var(--token-srSXFpbkgTk0);
}
.softBackgroundcolor_warning {
  background: var(--token-hCX9m33Qqe2Y);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-Sr2i5KIGZbym);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-7QVkCCMn6vK5);
  border: 0px solid var(--token-K3pGQo3OM8XQ);
}
.bordercolor_neutral {
  border-color: var(--token-z1hylwBYrdVn);
}
.bordercolor_muted {
  border-color: var(--token-5vbHf0UP1qYO);
}
.bordercolor_success {
  border-color: var(--token-jY6ktOEhQP_z);
}
.bordercolor_warning {
  border-color: var(--token-nOZ45DxnFbkn);
}
.bordercolor_errorDestructive {
  border-color: var(--token-ivKvJtzjHRlw);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-7QVkCCMn6vK5);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-uSpwZd6FUN2k);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-eoi5ku4oz6Ir);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-pmieETFaqT5y);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__uob23 {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-7QVkCCMn6vK5) var(--token-AupfWj2Hmfh7);
}
.freeBox__uob23 > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-7QVkCCMn6vK5));
  width: calc(100% + var(--token-7QVkCCMn6vK5));
}
.freeBox__uob23 > :global(.__wab_flex-container) > *,
.freeBox__uob23 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uob23 > :global(.__wab_flex-container) > picture > img,
.freeBox__uob23
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-7QVkCCMn6vK5);
}
.freeBoxsize_extraSmall__uob23KkDT {
  padding: var(--token-bk3e0v2BUPU-) var(--token-7QVkCCMn6vK5);
}
.freeBoxsize_small__uob23Gmkl5 {
  padding: var(--token-7QVkCCMn6vK5) var(--token-0rdUOaYCHzLn);
}
.freeBoxsize_large__uob23C2Yy2 {
  padding-top: var(--token-bk3e0v2BUPU-);
  padding-bottom: var(--token-bk3e0v2BUPU-);
}
.freeBoxsize_extraLarge__uob23DpcHz {
  padding-left: var(--token-YMWtEmOTlVaL);
  padding-right: var(--token-YMWtEmOTlVaL);
}
.freeBoxroundedFull__uob23VrER {
  padding-right: var(--token-YMWtEmOTlVaL);
  padding-left: var(--token-YMWtEmOTlVaL);
}
.freeBox__s2Qx5 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__s2Qx5Ifo4 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-TxVZyFDcPtAL);
}
.slotTargetStartcolor_neutral {
  color: var(--token-3aleahw6fz5U);
}
.slotTargetStartcolor_muted {
  color: var(--token-w5xHx3cMGWYU);
}
.slotTargetStartcolor_success {
  color: var(--token-r90Au2jo9S2O);
}
.slotTargetStartcolor_warning {
  color: var(--token-Ef0G1vsmwrLF);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-nRGeKXXkjkj-);
}
.slotTargetStarttype_soft {
  color: var(--token-CdI3Lgf4BVSB);
}
.slotTargetStarttype_bordered {
  color: var(--token-CdI3Lgf4BVSB);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-tbEnCoHyrbpo);
}
.slotTargetStartsize_small {
  font-size: var(--token-tbEnCoHyrbpo);
}
.slotTargetStartsize_large {
  font-size: var(--token-JxahnVRTXBzv);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-JxahnVRTXBzv);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-KVkqUQDapFz-);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-KVkqUQDapFz-);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-kBHOihTrleCn);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-kBHOihTrleCn);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-_t2TUmrHZimp);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-_t2TUmrHZimp);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-bwX5cMMHyIE7);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-bwX5cMMHyIE7);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-0mxur-0Q7lJb);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-0mxur-0Q7lJb);
}
.svg___5Mjq1 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-TxVZyFDcPtAL);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-3aleahw6fz5U);
}
.slotTargetLabelcolor_muted {
  color: var(--token-w5xHx3cMGWYU);
}
.slotTargetLabelcolor_success {
  color: var(--token-r90Au2jo9S2O);
}
.slotTargetLabelcolor_warning {
  color: var(--token-Ef0G1vsmwrLF);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-nRGeKXXkjkj-);
}
.slotTargetLabeltype_soft {
  color: var(--token-CdI3Lgf4BVSB);
}
.slotTargetLabeltype_bordered {
  color: var(--token-CdI3Lgf4BVSB);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-KVkqUQDapFz-);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-kBHOihTrleCn);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-KVkqUQDapFz-);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-_t2TUmrHZimp);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-kBHOihTrleCn);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-bwX5cMMHyIE7);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-_t2TUmrHZimp);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-0mxur-0Q7lJb);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-bwX5cMMHyIE7);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-0mxur-0Q7lJb);
}
.text__v9QIr {
  white-space: pre;
}
.freeBox__m96La {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__m96LaFnubZ {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-TxVZyFDcPtAL);
}
.slotTargetEndcolor_neutral {
  color: var(--token-3aleahw6fz5U);
}
.slotTargetEndcolor_muted {
  color: var(--token-w5xHx3cMGWYU);
}
.slotTargetEndcolor_success {
  color: var(--token-r90Au2jo9S2O);
}
.slotTargetEndcolor_warning {
  color: var(--token-Ef0G1vsmwrLF);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-nRGeKXXkjkj-);
}
.slotTargetEndtype_soft {
  color: var(--token-CdI3Lgf4BVSB);
}
.slotTargetEndtype_bordered {
  color: var(--token-CdI3Lgf4BVSB);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-tbEnCoHyrbpo);
}
.slotTargetEndsize_small {
  font-size: var(--token-tbEnCoHyrbpo);
}
.slotTargetEndsize_large {
  font-size: var(--token-JxahnVRTXBzv);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-JxahnVRTXBzv);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-KVkqUQDapFz-);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-KVkqUQDapFz-);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-kBHOihTrleCn);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-kBHOihTrleCn);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-_t2TUmrHZimp);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-_t2TUmrHZimp);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-bwX5cMMHyIE7);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-bwX5cMMHyIE7);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-0mxur-0Q7lJb);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-0mxur-0Q7lJb);
}
.svg__rsFhh {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
